@model web.Models.TableYouTubeAttribute

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TableYouTubeAttribute</legend>

    <div class="display-label">TableDevice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TableDevice.Name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
