@{
	ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";
}

<div class="logo" style="float:left;">@Html.Raw((String)ViewBag.AppName1) <span>@Html.Raw((String)ViewBag.AppName2)</span></div>
<div style="font-size: 1.2em;">&nbsp;is the cloud surveillance application with enchanced privacy and security protection.</div>
<br />
<div style="font-size: 1.2em;">
	<p>
		The main feature is <span class="important">end-to-end data encryption</span> to protect private surveillance data from access by any unauthorized party including developer team 
		and staff of the company providing the cloud environment. 
	</p>
	<p>
		Other most important features are
	</p>
	<ul>
		<li>
			The installation is as easy as of ordinary web cameras.
		</li>
		<li>
			The devices are connected to the cloud "out of the box".
		</li>
		<li>
			Lowest possible hardware cost, because it is planned to release new firmware for some of popular device types at the market, 
			like web cameras or routers. As the base for software the <a title="" href="https://openwrt.org" class="important">OpenWrt</a> 
			project is used. So the list of supported devices will grow. It is supposed that the line will include wireless devices. 
			This software will be available for downloading with instruction how to upgrade your existing devices. 
			Moreover, devices with upgraded firmware will be available for purchasing directly without any necessity of reprogramming them. 
			In addition to the special firmwares the version of software will be released for using with PCs including laptops.
		</li>
	</ul>
	<p>
		This application is designed to collect videos from unlimited number of cameras, keep videos in the cloud storage and provide access to them from anywhere.
		As technological base for these purposes the application uses resources provided by <a title = "" href="http://aws.amazon.com/">Amazon Web Services</a> .
	</p>
	<p>
		More information about this and other features you can find @Html.ActionLink("here", "Features", "Home") .
	</p>
	<p>
		The project until now is developed solely by myself for purposes of proof of concepts.<br />
		If you are developer or enthusiast which want to take part in project - welcome!
		In any case if you wish to contribute feel free to <a title="" href="mailto:dvmorozov@hotmail.com" class="important">contact me</a>.
		More information about me you can find in my <a title="" href="http://www.linkedin.com/pub/dmitry-morozov/55/265/743" class="important">LinkedIn</a> profile.
	</p>
</div>

<br />
<br />

@*<script type="text/javascript" src="http://releases.flowplayer.org/js/flowplayer-3.2.11.min.js"></script>*@

<script type="text/javascript">
	$(function () {
		$("#dialog").dialog({
			height: 'auto',
			width: 'auto',
			autoOpen: false,
			resizable: false,
			show: {
				effect: "explode",
				duration: 500
			},
			hide: {
				effect: "explode",
				duration: 500
			}
		});
		$("#opener").click(function () {
			$("#dialog").dialog("open");
		});
	});
</script>


<div id="dialog" title="Oonze at Twitter">
		@Html.Raw("<a class=\"twitter-timeline\" href=\"https://twitter.com/Oonze\" data-widget-id=\"358229917080645632\" width=\"400px\" height=\"600px\">Твиты пользователя @Oonze</a>" +
				  "<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + \"://platform.twitter.com/widgets.js\"; fjs.parentNode.insertBefore(js, fjs); } } (document, \"script\", \"twitter-wjs\");</script>")
</div>

<div style="font-size: 1.2em; text-align:center;"><a href="#" id="opener"><img src="../../Content/images/bird_48_blue.png" alt="@Html.Raw((String)ViewBag.AppName1) @Html.Raw((String)ViewBag.AppName2) on Twitter"/></a></div>

@*
@Html.Partial("Demo_VideoMatrix")
*@

<div style="width: 100%; height: 500px;">
	@*https://www.evernote.com/shard/s132/nl/14501366/515ae7cc-5203-4cb2-be8f-94f5e858d71f*@
	@*
	<video id="video1" preload="none" width="640" height="480" controls autoplay><source src="http://85.12.230.92:8080" type="video/ogg">Your browser does not support the video tag.</video>
	*@
	@* Не заработало ни в одном браузере!
	<div class="flowplayer">
		<video>
			<source type="video/webm" src="http://85.12.230.92:8080">
			<source type="video/mp4"  src="http://85.12.230.92:8080">
		</video>
	</div>
	*@
	@*
	<div style="position: relative; float: left; margin-left: 50px;">
		<a href="http://85.12.230.92:8080" class="player" style="display: block; width: 640px; height: 480px;" id="player1"></a>
	</div>
	<div style="position: relative; float: right;">
		<a href="http://85.12.230.92:8080" class="player" style="display: block; width: 452px; height: 300px;" id="player2"></a>
	</div>
	*@
	@*
	<embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" width="640"  height="480" id="vlc" loop="yes" autoplay="yes" target="http://85.12.230.92:8080"/>
	<object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab" width="640"  height="480" id="vlc" loop="yes" autoplay="yes" target="http://85.12.230.92:8080"></object>
	*@
	@*<embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2"  width="640"  height="480" id="vlc" loop="yes" autoplay="yes" target="http://85.12.230.92:8080"></embed>*@
</div>

@*
<script type="text/javascript">
	flowplayer("player1", "http://releases.flowplayer.org/swf/flowplayer-3.2.12.swf");
	flowplayer("player2", "http://releases.flowplayer.org/swf/flowplayer-3.2.12.swf");
</script>
*@

@*
Вывод сообщ. Twitter'а, нужно испр. обр. к API.
<div style="position:relative;">
	<fieldset>
		<legend>Timeline</legend>
		<table style="width:100%;">
			@{
				var twits = (List<TwitInfo>)ViewBag.Twits;
				foreach (var ti in twits)
				{
					string createdAt = ti.createdAt;
					createdAt = createdAt.Remove(createdAt.IndexOf("+"), 6);
					createdAt = createdAt.Remove(0, 4);
					@Html.Raw("<tr><td style=\"border: 0 hidden;\">" + createdAt + "</td><td style=\"border: 0 hidden;\">" + ti.text + "</td></tr>");
				}
			}
		</table>
	</fieldset>
</div>

<div style="float:right; position:relative; top:-100px; right:10px;">
	<div style="font-size: 1.2em; text-align:center;"><a href="http://www.twitter.com/oonze"><img src="../../Content/images/bird_48_blue.png" alt="@Html.Raw((String)ViewBag.AppName1) @Html.Raw((String)ViewBag.AppName2) on Twitter"/></a></div>
	<div style="font-size: 1.2em; text-align:center;"><a href="http://www.twitter.com/oonze">Follow me</a></div>
</div>
*@

@*
<br />
<div style="font-size: 1.2em; text-align:center;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value=@Html.Raw("\"XD7VXEZNWX4ZC\"")>
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
<div style="font-size: 1.2em; text-align:center;">We will also be very grateful for any donations <br />which will help to support project development</div>
*@
