@model ViewChart
@using web.Models;

@{
    Layout = "";

    var serieList = (List<ViewSeriesItem>)ViewBag.SerieList;
    var grid = new WebGrid(serieList,
                           defaultSort: "name",
                           rowsPerPage: 20);
}

@*https://www.evernote.com/shard/s132/nl/14501366/f8f00893-bbb7-4b89-8c8b-c24b704eebe0*@

<div id="grid">
    @grid.GetHtml("grid", "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("name", "SN", style: "product"),
            grid.Column("startTime", "Start Time", style: "product"),
            grid.Column("endTime", "End Time", style: "product"),
            grid.Column("id", "", @<text>@Html.ActionLink( "Download", "Download", new { id = Model.ID, serieID = item.ID })</text>, "product"),
            grid.Column("id", "", @<text><div id="@Html.Raw("dialog" + item.name)" title="@Html.Raw(string.Format("{0:dd MMMM yyyy hh:mm:ss}", item.StartTime))"><video id="@Html.Raw("video_dialog" + item.name)" src="@Html.Raw(item.FirstItemUrl)" preload="none" controls><source type="video/ogg">Your browser does not support the video tag.</video></div>
                                        <a href="#" id="@Html.Raw("opener" + item.name)" onclick='return $("@Html.Raw("#dialog" + item.name)").dialog("open");'>Play</a>
                                    </text>, "product", false),
            grid.Column("ID", "", @<text>@Html.Raw("<form method=\"post\" action=\"" + Url.Action("DeleteSerie", "Home", new { id = Model.ID, serieID = item.ID }) + "\"><input type=\"submit\" value=\"Delete\"/></form>")</text>, "product", false)
        ),
        numericLinksCount: 20)
</div>
