@model LibStarterModel.Models.TableTask

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">TaskID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaskID)
    </div>

    <div class="display-label">Config</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Config)
    </div>

    <div class="display-label">Template</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Template)
    </div>

    <div class="display-label">Process</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Process)
    </div>

    <div class="display-label">Running</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Running)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
