@model IEnumerable<LibStarterModel.Models.TableTask>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TaskID
        </th>
        <th>
            Config
        </th>
        <th>
            Template
        </th>
        <th>
            Process
        </th>
        <th>
            Running
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Config)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Template)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Process)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Running)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
			@Html.ActionLink("Stop", "Stop", new { id=item.ID })
        </td>
    </tr>
}

</table>
