@model IEnumerable<web.Models.ViewCountry>

@{
    ViewBag.Title = "Select country";
    Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";

    var grid = new WebGrid(Model,
                           defaultSort: "Country",
                           rowsPerPage: 20); 
}

<h2>Select country</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<p>
    @Html.ActionLink("Cancel", ""/*empty action name*/, (String)ViewBag.ReturnTo) |
    @Html.ActionLink("Add", "CreateCountry", new { returnTo = (String)ViewBag.ReturnTo }) |
    @Html.ActionLink("Locations", "Index")
</p>

<div id="grid">
    @grid.GetHtml( 
        tableStyle: "grid", 
        headerStyle: "head", 
        alternatingRowStyle: "alt", 
        columns: grid.Columns(
            grid.Column("Country", "Country", style: "product"),
            grid.Column("PhoneCode", "Phone Code", style: "product"),
            grid.Column("ID", "", @<text>@Html.ActionLink("Select", "SelectState", new { id = item.ID, returnTo = (String)ViewBag.ReturnTo })</text>, style: "product", canSort: false)
        ),
        numericLinksCount: 20
    )
</div>
