@model IEnumerable<web.Models.ViewApartament>

@{
    ViewBag.Title = "Select apartment";
    Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";

    var grid = new WebGrid(Model,
                       defaultSort: "Apartament",
                       rowsPerPage: 20); 
}

<h2>Select apartment</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<p>
    @Html.ActionLink("Cancel", ""/*empty action name*/, (String)ViewBag.ReturnTo) |
    @Html.ActionLink("Add", "CreateApartament", new { id = (Int64)ViewBag.BuildingID, streetID = (Int64)ViewBag.StreetID, cityID = (Int64)ViewBag.CityID, stateID = (Int64)ViewBag.StateID, countryID = (Int64)ViewBag.CountryID, returnTo = (String)ViewBag.ReturnTo }) |
    @Html.ActionLink("Locations", "Index")
</p>

<div id="grid">
    @grid.GetHtml( 
        tableStyle: "grid", 
        headerStyle: "head", 
        alternatingRowStyle: "alt", 
        columns: grid.Columns(
            grid.Column("Apartament", "Apartment", style: "product"),
            grid.Column("ID", "", @<text>@Html.ActionLink("Select", "SelectZipCode", new { id=item.ID, buildingID=item.BuildingID, streetid=item.StreetID, cityid=item.CityID, stateid=item.StateID, countryid=item.CountryID, returnTo=(String)ViewBag.ReturnTo })</text>, style: "product", canSort: false)
        ),
        numericLinksCount: 20
    )
</div>
