@model web.Models.ViewDevice

@{
    ViewBag.Title = "Delete camera";
    Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";
}

<h2>Delete camera</h2>

<p>
    @Html.ActionLink("Cameras", (String)("GroupDevices/" + ViewBag.CurrentGroupID.ToString()))
</p>

<h3>Are you sure you want to delete this camera?</h3>
@using (Html.BeginForm("Delete", "BaseDevice")) {
    @Html.Hidden("Id", Model.ID)

    <fieldset>
        <legend>Camera properties</legend>

        <table style="width:100%;">
            <tr>
                <td style="border: 0 hidden;">
                    <div class="display-label">Camera name</div>
                </td>
                <td style="border: 0 hidden;">
                    <div class="display-field">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </td>
                <td style="border: 0 hidden;">
                    <div class="display-label">Group</div>
                </td>
                <td style="border: 0 hidden;">
                    <div class="display-field">
                        @Html.DisplayFor(model => model.GroupName)
                    </div>
                </td>
            </tr>

            <tr>
                <td style="border: 0 hidden;">
                    <div class="display-label">Camera type</div>
                </td>
                <td style="border: 0 hidden;">
                    <div class="display-field">
                        @Html.DisplayFor(model => model.DeviceTypeName, "Camera type")
                    </div>
                </td>
                <td style="border: 0 hidden;">
                </td>
                <td style="border: 0 hidden;">
                </td>
            </tr>
        </table>
    </fieldset>
    <p>
        <input type="submit" value="Delete" name="Submit" id="Submit" />
    </p>
}
