
<div class="logo" style="float:left;">@Html.Raw((String)ViewBag.AppName1) <span>@Html.Raw((String)ViewBag.AppName2)</span></div>
<div style="font-size: 1.2em;">&nbsp;is the web service intended for capturing snapshots from distributed network of video cameras.</div>

<br />
<br />

<div style="font-size: 1.2em;">The main advantages come from the cloud nature of this solution. Namely high reliability, high availability and low cost. 
You can easily turn your nettop into video recorder by means simple and open source software available in @Html.ActionLink("Downloads", "Index", "Downloads") section.
<br />
<br />
With limited amount of data you can use this service for free. In any case feel free to <a title="" href="mailto:support@oonze.com">contact us</a>.
</div>

<br />
<br />

To plug in your web-camera into the system you need to do following steps:
<ul>
    <li>Plug your camera into your nettop or desktop PC.</li>
    <li>Register in the system (it's free).</li>
    <li>Create new group of cameras (even in the case of single camera).</li>
    <li>After previous step there will be an XML-template, associated with every camera. You should download them.</li>
    <li>@Html.ActionLink("Download", "Index", "Downloads") the utility for snapshots capturing and putting them into the system. 
    This utility is open source, you can freely modify it while it remains compatible with the system.</li>
    <li>Configure "view" for every camera.</li>
    <li>Assign "view" with snapshot set (received from the camera).</li>
    <li>Configure "view sets".</li>
    <li>Assign "views" with "view sets" and set up the position of every "view" in the "view set" matrix.</li>
</ul>

The result will look like shown below.

<br />
<br />

@model web.Models.ViewChartSet

@using web.Models;
@using web.Controllers;

@{
    List<ViewChartSetsCharts> l1 = (List<ViewChartSetsCharts>)ViewBag.ChartSetsCharts;
}

@{
    for (Int32 row = 0; row < Model.Rows; row++)
    {
        for (Int32 col = 0; col < Model.Cols; col++)
        {
            for (Int32 i = 0; i < l1.Count(); i++)
            {
                ViewChartSetsCharts item = l1[i];
                if (item.ColIndex == col && item.RowIndex == row)
                {
                    String s = Url.Action("RenderSrc", "Home", new { id = item.ChartID, width = Model.CellWidth, height = Model.CellHeight });
                    @Html.Raw(
                        "<script language=\"javascript\" type=\"text/javascript\">" +
                        "    $(function () {" +
                        "        update_" + item.ChartID.ToString() + "();" +
                        "    });" +
                        "    function update_" + item.ChartID.ToString() + "() {;" +
                        "        $.ajax({" +
                        "            url: '" + s + "'," +
                        "            method: \"GET\"," +
                        "            dataType: \"text\"," +
                        "            cache: false," +
                        "            timeout: 10000," +
                        "            success: function (responseXML) {" +
                        "                if (undefined == responseXML)" +
                        "                    return;" +
                        "                document.getElementById('div_chart_" + item.ChartID.ToString() + "').setAttribute('src', responseXML);" +
                        "            }," +
                        "            error: function (xmlHttp, textStatus, errorThrown) { }," +
                        "            complete: function () {" +
                        "                setTimeout(function () {" +
                        "                    update_" + item.ChartID.ToString() + "();" +
                        "                }, 1000);" +
                        "            }" +
                        "        });" +
                        "    };" +
                        "</script>")
                    break;
                }
            }
        }
    }
}

<table width="100%" style="text-align:center;">
    @{
        List<ViewChartSetsCharts> l = (List<ViewChartSetsCharts>)ViewBag.ChartSetsCharts;

        for (Int32 row = 0; row < Model.Rows; row++)
        { 
            <tr>
                @for (Int32 col = 0; col < Model.Cols; col++)
                {
                    //  search of appropriate chart
                    Boolean found = false;
                    for (Int32 i = 0; i < l.Count(); i++)
                    {
                        ViewChartSetsCharts item = l[i];
                        if (item.ColIndex == col && item.RowIndex == row)
                        { 
                            <td style=@Html.Raw("\"border: 0 hidden; padding:" + Model.Margin.ToString() + "px;\"")>
                                @{
                                    ViewBag.ChartID = item.ChartID;
                                    ViewBag.Width = Model.CellWidth;
                                    ViewBag.Height = Model.CellHeight;
                                    @Html.Partial("DivChart", new { ChartID = item.ChartID, Width = Model.CellWidth, Height = Model.CellHeight })
                                    /*data are translated through ViewData!*/
                                }
                            </td>
                            found = true;
                            break;
                        }
                    }

                    if (!found)
                    { 
                        <td style=@Html.Raw("\"border: 0 hidden; padding:" + Model.Margin.ToString() + "px;\"")>
                        </td>
                    }
                }
            </tr>
        }
    }
</table>

<br />
<div style="font-size: 1.2em; text-align:center;"><a href="http://www.twitter.com/oonze"><img src="../../Content/images/bird_48_blue.png" alt="@Html.Raw((String)ViewBag.AppName1) @Html.Raw((String)ViewBag.AppName2) on Twitter"/></a></div>
<div style="font-size: 1.2em; text-align:center;"><a href="http://www.twitter.com/oonze">Follow us with Twitter</a></div>

<!--
<br />
<div style="font-size: 1.2em; text-align:center;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value=@Html.Raw("\"XD7VXEZNWX4ZC\"")>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
<div style="font-size: 1.2em; text-align:center;">We will also be very grateful for any donations <br />which will help to support project development</div>
-->
